<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta class="sauce" sauce=<%=sauce%>>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body style="background-color: black;">
    <script>
        const sauce = document.querySelector(".sauce").getAttribute("sauce");
        window.location.assign(`/g/${sauce}/0`);
    </script>
    </body>
</html>